h1{
  color:white ;
  text-align:center;
  font-size:50px;
  margin-top:61px;
}
#demo{
  color:white ;
  text-align:center ;
  font-size:40px;

}

body{
  background-color:rgb(100, 97, 97);
}

#clock{

}