body{
  color:white ;
  background-color: rgb(95, 93, 93);
  text-align:center;
  font-size:50px;  
}
#time{
  font-size:40px;
}
#date{
  font-size:40px;
}

.clock-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.title-container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
}

#toggle-btn{
  padding: 10px 24px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

#toggle-btn:hover {
  background-color: lightgray;
  cursor: pointer;
}