body{
  color:white ;
  background-color: rgb(95, 93, 93);
  text-align:center;
  font-size:40px;  
}

#displayTime{
  font-size:140px;
}
#displayDate{
  font-size:60px;
}

.clock-container {
  width: 80%;
  margin: auto;
  text-align: center;
}
.title-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

